/* rgb(148, 176, 255)
rgb(55, 255, 172) 
tomato*/

.container {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 30px;
  border-radius: 7px;
  border: 8px solid #E6D9B3;
  background-color: #8C99D9;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 1.5em;
}

h2 {
  margin-top: 30px;
  font-family: Montserrat, sans-serif;
}