.list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item + .item {
  margin-top: 10px;
}

.deleteButton {
  padding: 7.5px;
  margin-right: 0;

  width: 30px;
  height: 30px;

  border: none;
  border-radius: 50%;
  background-color: rgb(77, 123, 248);
  cursor: pointer;
}
.deleteButton:hover {
  background-color: #fff;
}
.deleteButton:hover .icon {
  fill: rgb(77, 123, 248);
}

.icon {
  width: 15px;
  height: 15px;
  fill: #fff;
}