.list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item + .item {
  margin-top: 10px;
}

.icon {
  width: 15px;
  height: 15px;
  fill: #fff;
}